@model WebApplication42.Models.ListModel<WebApplication42.Models.eve>
@{
    ViewBag.Title = "Index";
}

@if (Model != null)
{

    <h2>Events</h2>
    <tr>
        <th>Event ID</th>
        <th>Description</th>
        <th>Street</th>
        <th>Street 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
    </tr>
    foreach (var item in Model.Items)
    {
    <table>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)<br />
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.eventaddresses.FirstOrDefault().Street)<br />*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.eventaddresses.FirstOrDefault().Street2)<br />*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.eventaddresses.FirstOrDefault().city)<br />*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.eventaddresses.FirstOrDefault().state)<br />*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.eventaddresses.FirstOrDefault().zipcode)<br />*@
            </td>
        </tr>
    </table>
    }
}

    <div>
        @Html.ActionLink("Create an Event.", "Create","Event")
    </div>