@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3></h3>

<font size="5px">
    Welcome to Saving Hands

    This website is designed to help people by providing assistance to them.
    Volunteers are welcome to register to post their events. They can register for an account and submit resources for volunteering such as Clothes, Food, Water, Transportation, Shelter, Medical Supplies and Cleaning Supplies.
    Using the events page, anyone in need of help can request assistance, and resources will be assigned based on availability and location.
    We encourage you to volunteer and if in need of assistance to request help.
    <iframe src="https://docs.google.com/presentation/d/123lgUfeG0wRnXbg-ArPMF65Ltwa2PGQA05wjLGH5h2E/edit?usp=sharing" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</font>