@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!!!</h2>
<body>
    <img src="images/m3.jpg" />
    <p><font size="8px">We welcome the donation of any non-perishable food items. The volunteers will make sure that the food you donate will reach the people who are in need on time.</font></p>
    <img src="images/m1.png" />
    <p><font size="8px">
        No time to volunteer?<br />
        Then you can make a financial donation. Donations can be made by contacting the volunteers anytime.
   </font> </p>
    <img src="images/m4.jpg"/>
    <p><font size="8px">Recycling and donating your clothes will keep them out of the trash and into the hands of someone who can give them a second life.</font></p>
</body>